@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}s

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #00569c;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #008cff;
}
